*{
  margin: 0;
  padding: 0;  

  /* -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ */
}

html, body{
  height: 100%;
  padding: 0;
  margin:0;
}

.panel{
  height:100%;
  display: flex;
  background: green;
}
#scoreContainer{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: aliceblue;
  z-index: 10;
}
.stack{
  width: 100%;
  position: relative;
  margin: 0 0.2rem;
}
.stack.over{
  opacity: 0.6;
  background: #586363
}

.card,
.stack.completed  > * {
  height: 10rem;
  cursor: pointer;
  margin: 1px;
  position: absolute;
  width: 100%;
  border: solid #586363 1px;
  border: solid #586363 1px;
  border-radius: 0.5rem;
}
.card.moving{
  opacity: 1;
}
.number {
    color: white;
}
.club{
background: red;
}
.heart{
background: pink;
}
.diamond{
  background: gray;
}
.spade{
  background: #bbbb00;
}

.card.hidden {
  background: black;
  color: black;
}
.card.hidden .number {
  color: black;
}
.stack.completed{
  position: absolute;
  bottom: 0;
  display: flex;
}

.stack.completed  > * {
  position: relative;
  border: none;
}

.modal {
  height: 100%;
  width: 100%;
  background: #16163a;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}

.modal-content {
  width: 80%;
  height: calc(100% - 5rem);
  border: solid darkgray;
  margin: auto;
  opacity: 1;
  position: relative;
  border-radius: 0.5rem;
}

.modal .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: x-large;
}

button#showGameMenuButton, 
button#hideGameMenuButton {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  color: white;
}
#showGameMenuContainer {
  position: absolute;
  top: 0;
  padding: 1rem;
}
.modal-body{
  text-align: center;
  background: #77ff77;
    height: 100%;
  height: 100%;
}
.modal-body > div {

  width: 30rem;
  margin: auto;

}

.modal-body button {
  width: 100%;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.5rem;
}

.hide{
  transform: translateX(-9999px);
}

button {
  color: orange !important;
  cursor: pointer;
}